body {
    margin: 0;
    padding: 0;
}

body *{
    box-sizing: border-box;
}

.container{
    border: 3px solid green;
    width: 350px ;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    padding: 30px;
    background: #80ba77;
}

.screen{
    margin: 10% 0;
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 70px;
    font-weight: 600;
    font-size: 2rem;
    border: 2px solid black;
    background: #a29d9d;
    padding-right: 5px;
}

.down{
    display: flex;
    gap :20px;
}

.down>div{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.left div {
    gap: 20px;
}


.buttons{
    display: flex;
    justify-content: space-evenly;
}

button{
    padding:20px;
    flex: 0 1 50px;
}
div.equal{display: flex;}

.right button, .specials button{
    background: #043517;
    color: antiquewhite;
}

#lastRow{
    display: flex;

}
.specials{
    display: flex;
}

#clear{
    text-align: center;
    box-sizing: content-box;
    padding: 20px 11.5px;
}